<div class="blog__posts">
    <% locals.blog.forEach((elem, index) => { %> <% let styleName = "blog__posts-small";
        %> <% if (index % 6 == 0 || (index + 1) % 6 == 0) { styleName =
        "blog__posts-large" } %> <% if (!locals.maxItems || index < locals.maxItems) {
        %>
    <div onClick="goNavigateToPost('<%=elem._id.toString()%>')" class="<%= styleName %>" id="second-post">
        <img src="<%= elem.previewImg %>" width="448" height="300" alt="blog preview image" loading="lazy"/>
        <h2>
            <% if ( styleName == "blog__posts-small" && elem.title.toString().length > 20) { %>
                <%= elem.title.toString().substring(0, 17) + "..." %>
            <% } else if ( styleName !== "blog__posts-small" && elem.title.toString().length > 38) { %>
                <%= elem.title.toString().substring(0, 35) + "..." %>
            <% } else { %>
                <%= elem.title.toString() %>
            <% } %>
        </h2>
        <p class="blog__posts__subtitle">
            <%= elem.date.toLocaleDateString('en-us', { month: "long", day: "numeric",
                year: "numeric" }) %>
        </p>
    </div>
    <% } %> <% }) %>
    <script>
     function goNavigateToPost(id) {
         window.location.href = `/api/blog/${id}`;
     }
    </script>
</div>
