<div style="overflow-x:auto;">
    <table id="blog-table">
        <thead>
            <th scope="col"
                class="tcheckbox">
                <input type="checkbox"
                       onclick="selectAllCheckboxClickHandler('blog-table', blogTableSelections);deleteButtonVisibility ('blog-table','delete-button-blog');"
                /></th>
            <th scope="col" class="title-header">Title</th>
            <th scope="col">Subtitle</th>
            <th scope="col">Status</th>
            <th scope="col">Author</th>
            <th scope="col">Edit</th>
        </thead>
        <tbody>
        <% data.forEach((entry) => { %>
            <tr class="data-row" id="<%= entry.id %>">
                <td>
                    <input
                        type="checkbox"
                        name="row-selected"
                        onclick="checkboxClickHandler('<%= entry.id %>', 'blog-table', blogTableSelections);deleteButtonVisibility ('blog-table','delete-button-blog');"
                    /></td>
                <td><%= entry.title %></td>
                <td><%= entry.subtitle %></td>
                <td><%= entry.status %></td>
                <td><%= entry.author %></td>
                <td>
                    <button type="button" onclick="window.open('/api/edit/blog/<%= entry.id %>')">
                        EDIT
                    </button>
                </td>
            </tr>
        <% }) %>
        </tbody>
        <tfoot>
                <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
        </tfoot>
    </table>
</div>
