<tr class="data-row" id="<%= id %>" onclick="checkboxClickHandler('<%= id %>', '<%= tableId %>', blogTableSelections)">
    <td><input type="checkbox" name="row-selected" /></td>
    <td><%= title %></td>
    <td><%= content %></td>
    <td><%= date %></td>
    <td><%= status %></td>
    <td><%= author %></td>
    <td><button type="button">EDIT</button></td>
</tr>
