<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/common.css" />
        <link rel="stylesheet" href="css/navbar.css" />
        <link rel="stylesheet" href="css/table.css" />
        <link rel="stylesheet" href="css/data-row.css" />
        <link rel="stylesheet" href="css/admin.css" />
        <style>
         #temp-container {
             display: flex;
             flex-direction: column;
             justify-content: center;
         }
        </style>
        <script>
            var blogTableSelections = []
            var usersTableSelections = []
            var imagesTableSelections = []
        </script>
        <script defer src="js/dashboard.js"></script>
        <script src="./js/navbar.js" defer async></script>
    </head>
    <body>
        <%- include('./components/alert.ejs') %>
        <%- include('./components/navbar.ejs') %>
        <section id="dashboard-section">
            <section class="dashboard-subsection">
                <button
                    class="new-button"
                    type="button"
                    onclick="window.open('/api/edit/blog')"
                >NEW</button>
                <button id="delete-button-blog" type="button">DELETE</button>
                <h1>Blog</h1>
                <hr/>
                <%- include('./components/blog-table.ejs', { data: blog}) %>
            </section>
            <section class="dashboard-subsection">
                <button
                    class="new-button"
                    type="button"
                    onclick="window.open('/api/edit/user')"
                >NEW</button>
                <button id="delete-button-users" type="button">DELETE</button>
                <h1>Users</h1>
                <hr/>
                <div class="table-wrapper">
                    <%- include('./components/users-table.ejs', { data: users }) %>
                </div>
            </section>
            <section class="dashboard-subsection">
                <button id="new-button-images" class="new-button" type="button">NEW</button>
                <button id="delete-button-images" type="button">DELETE</button>
                <h1>Images</h1>
                <hr/>
                <div class="table-wrapper">
                    <%- include('./components/images-table.ejs', { data: [
                        {
                            tableId: "images-table",
                            id: "1",
                            name: "uf-osc-logo",
                            path: "./folder/subfolder/image1",
                            description: "The UF OSC Logo",
                            dateAdded: "11/3/2022"
                        },
                        {
                            tableId: "images-table",
                            id: "2",
                            name: "club-website-img",
                            path: "./folder/subfolder/image2",
                            description: "A screenshot of the club website",
                            dateAdded: "11/3/2022"
                        },
                    ]}) %>
                </div>
            </section>
        </section>
        <%- include('./components/footer.ejs') %>
    </body>
</html>
